html,
body{
    padding:0;
    margin:0;
    height: 100%;
    width:100%;
}
body{
    background : #EAF8B5;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
}

button{
    background:#CC4947;
    border: 10px solid #FF955A;
    border-radius:100px;
    height: 200px;
    width: 200px;
    outline : 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.3rem;
}

button:active{
    color:#FA6F46;
    background : #F5D988;
}

button[disabled]{
    background: grey;
    color: #000;
    border-color: #000;
}
